simple-flow.json
[
    {
        "id": "d016227b9a57134b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46d923b2909ee441",
        "type": "inject",
        "z": "d016227b9a57134b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 720,
        "wires": [
            [
                "dbe9c31a5e611d3f"
            ]
        ]
    },
    {
        "id": "dbe9c31a5e611d3f",
        "type": "exec",
        "z": "d016227b9a57134b",
        "command": "ls -al",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 720,
        "wires": [
            [
                "5c42399aa91f2053"
            ],
            [],
            []
        ]
    },
    {
        "id": "5c42399aa91f2053",
        "type": "debug",
        "z": "d016227b9a57134b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 840,
        "wires": []
    }
]